#list span,
#imageslist span {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 2px;
  border: 1px solid #f44336;
  border-radius: 10px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}

#imageslist span .fa-times-circle {

  position: absolute;
  right: 5px;
  top: 5px;
}

#imageslist span .fa-times-circle:hover {

  cursor: pointer;

}
.pre-image {
  height: 100px;
  object-fit: cover;
  overflow: hidden;
}