.card .fa-times-circle {
  color: #ed6600;
}

.card .fa-hover:hover {
  cursor: pointer;
}

.card {
  position: relative;
  background-color: #FFFFFF;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}

.card .fa-times-circle {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* .card .card-img {
  height: 150px;
  width: 100%;

}

.card img {
  height: 150px;
  width: fit-content;
  object-fit: cover;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
} */

.card .time {
  padding-top: 20px;
}

.card .card-des {
  height: 75px;
  padding: 15px;
}

.card:hover {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  color: black;
}

.card-footer {
  padding: 20px 0px;
}